body {
  background-repeat: repeat;
  background-size: 100%;
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  font-family: "Play", sans-serif;
  font-size: larger;
  font-weight: 700;
  font-style: bold;
  color: #d8bf9f;
  border-radius: 15px;
}

h3 {
  font-family: "Play", sans-serif;
  font-size: smaller;
  font-weight: 500;
  font-style: bold;
  color: #201d1a;
  border-radius: 15px;
}

.card {
  display: inline-block; /* horizontally aligned */
}

/* Style for card images */
.card-image {
  width: 13%;
  object-fit: cover; /* Ensure that the image covers the entire container */
  border-radius: 10px;
}

/* button tutorial: https://www.joshwcomeau.com/animation/3d-button/#color-and-aesthetics-7 */
.button {
  background: #d8bf9f;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  font-family: "Play", sans-serif;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1rem;
  background: #000000;
  background-size: 100%;
  color: #d8bf9f;
  transform: translateY(-4px);
}

.button:active .front {
  transform: translateY(-2px);
}

.button:disabled .front {
  background: grey;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

/* style for card containers */
#player1 {
  background: hsl(34, 42%, 74%);
  height: fit-content;
}

#player2 {
  background: hsl(34, 42%, 74%);
}

#discardPile {
  background: hsl(34, 42%, 74%);
}

#gameMsg {
  background: hsl(34, 42%, 74%);
}

#player1Cards, #player2Cards, #discardedCards {
  background-image: url("./container-background.png"); /* Set background image */
  background-size: cover; /* Cover the entire container */
  background-position: center;
  height: 100%;
  padding: 10%;
}